# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/functions/node_modules/

# testing
/coverage

# production

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.log
.vscode/*
public/assets/js/
public/worker.js
public/index.html

/www/assets/js/*
!.gitkeep